<h1>Please select your jekyll repo </h1>

<%= form_tag(controller: "home", action: "create", method: "post") do %>
  <% @repos_hash.each do |repo| %>
    <%= radio_button_tag(:repo_id, repo["id"]) %>
    <%= label_tag(:blog_repo, repo["full_name"]) %>
    <br />
  <% end %>
  <%= submit_tag("Select") %>
<% end %>
