<div class="container show">
  Title<br />
  <%= @post["title"] %><br /><br />
  Categories<br />
  <% list = @post["categories"] %>
  <%= list.split(" ").join(",") unless list.nil? %><br /><br />
  Date<br />
  <%= @post["date"] %><br /><br />
  Content<br />
  <%= raw(@post["content"]) %><br /><br />

</div>
